/* Header.module.css */

.header {
    position: relative;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 48rem;
}

.imdb_logo {
    height: 2.2rem;
    cursor: pointer;
}

.menu_block{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: larger;
}

.menu_icon {
    height: 2.2rem;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: calc(100%); /* Розташовує випадаючий список під іконкою меню з відступом 10px */
    left: 0;
    padding: 10px;
    z-index: 999; /* Забезпечує, що випадаючий список буде поверх інших елементів */
    visibility: hidden; /* По замовчуванню список прихований */
    opacity: 0; /* По замовчуванню список непрозорий */
    transition: visibility 0s, opacity 0.5s linear; /* Анімація для відображення / приховування */
    color: #113fa2;
    font-size: 1.5rem;
}

.menu.active {
    visibility: visible; /* Показуємо список, коли він активний */
    opacity: 1; /* Робимо список непрозорим */
}

.search_block {
    display: flex;
    align-items: stretch;
}

.search_input {
    width: 28rem;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 1.1rem;
}

.clear_button {
    background: white;
    padding: 8px 6px 6px 6px;
    position: relative;
    cursor: pointer;

}

.clear_button::after {
    content: '';
    position: absolute;
    top: 20%;
    right: 0;
    height: 60%;
    width: 1px;
    background: grey;
}


.clear_button img {
    width: 1.3rem;
}

.search_button {
    padding: 10px;
    background: white;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-color: white;
    cursor: pointer;
}

.search_icon {
    width: 1.1rem;
    cursor: pointer;
    color: black;
}
